metroplex-visualizer/n8n-workflows/lead-intake-estimate.json
{
  "name": "Lead Intake – Estimate Tool",
  "nodes": [
    {
      "id": "webhook_trigger_estimate",
      "name": "Webhook – Lead Intake (Estimate)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1900, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake-estimate",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "config_ghl_ids",
      "name": "Config – GHL IDs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1660, 300],
      "notes": "Same Retail Sales / Visualizer-Estimate-Submitted IDs as Workflow 1.",
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "locationId", "type": "string", "value": "4rvwvGT5Ot8Dxyoo7UwS" },
            { "id": "a2", "name": "pipelineId", "type": "string", "value": "SzHop4GlTOMVp566igQV" },
            { "id": "a3", "name": "stageId", "type": "string", "value": "774f82d6-a9ee-404a-b646-1edb0af3ca6e" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "if_required_fields",
      "name": "IF – Required Fields Present?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1420, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $(\"Webhook – Lead Intake (Estimate)\").first().json.body.contact?.email }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            },
            {
              "id": "c2",
              "leftValue": "={{ $(\"Webhook – Lead Intake (Estimate)\").first().json.body.contact?.phone }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "respond_400",
      "name": "Respond – 400 Missing Fields",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [-1180, 460],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Missing required field: contact.email or contact.phone\" } }}",
        "options": { "responseCode": 400 }
      }
    },
    {
      "id": "build_contact_payload",
      "name": "Build Contact Payload (Estimate Scoped, Filter Nulls)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1180, 220],
      "notes": "SCOPED WRITE FIX: allow-list only includes firstName/lastName/email/phone/address1 + lead_source/property_address/estimated_roof_size/estimate_range. current_roof_type, selected_roof_type, project_reason, insurance_claim_status, homeowner_timeline are never read from the payload — structurally impossible to write, even as null. Uses named node selectors per Workflow 1 lessons learned, never $input.first().json.",
      "parameters": {
        "jsCode": "const webhookData = $(\"Webhook – Lead Intake (Estimate)\").first().json.body;\nconst configData = $(\"Config – GHL IDs\").first().json;\n\nconst contact = webhookData.contact || {};\nconst fields = webhookData.fields || {};\n\n// Scoped-write allow-list — estimate tool must NEVER write roof-type fields.\nconst FIELD_IDS = {\n  lead_source: 'pOqyjdxOHg67C4JWdkaG',\n  property_address: 'acFCeylcy8uhep3stymL',\n  estimated_roof_size: 'S3E1cQMFQ2vD2Ec1nSAR',\n  estimate_range: 'cEjn1x0nid6taqIaQxKt',\n};\n\nconst isEmpty = (v) => v === null || v === undefined || v === '';\n\nconst contactFields = {};\nfor (const key of ['firstName', 'lastName', 'email', 'phone', 'address1']) {\n  if (!isEmpty(contact[key])) contactFields[key] = contact[key];\n}\n\nconst customFields = [];\nfor (const [key, id] of Object.entries(FIELD_IDS)) {\n  if (!isEmpty(fields[key])) customFields.push({ id, value: fields[key] });\n}\nif (customFields.length) contactFields.customFields = customFields;\ncontactFields.tags = Array.isArray(webhookData.tags) && webhookData.tags.length ? webhookData.tags : ['Estimate Tool'];\n\nconst contactPayloadCreate = { ...contactFields, locationId: configData.locationId };\nconst contactPayloadUpdate = { ...contactFields };\n\nreturn [{\n  json: {\n    email: contact.email,\n    contactPayloadCreate,\n    contactPayloadUpdate,\n    rawFields: fields,\n    locationId: configData.locationId,\n    pipelineId: configData.pipelineId,\n    stageId: configData.stageId,\n    firstName: contact.firstName || '',\n    lastName: contact.lastName || '',\n    phone: contact.phone || '',\n    source: webhookData.source || 'estimate',\n  },\n}];"
      }
    },
    {
      "id": "search_contact",
      "name": "Search Contact By Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-940, 220],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://services.leadconnectorhq.com/contacts/search/duplicate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "locationId", "value": "={{ $json.locationId }}" },
            { "name": "email", "value": "={{ $json.email }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "options": {
          "response": { "response": { "neverError": true } }
        }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "", "name": "GHL - Metroplex" }
      }
    },
    {
      "id": "if_contact_exists",
      "name": "IF – Contact Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-700, 220],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.contact?.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "update_contact",
      "name": "Update Contact (PATCH) – Estimate Scoped",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-460, 100],
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Version", "value": "2021-07-28" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Build Contact Payload (Estimate Scoped, Filter Nulls)').item.json.contactPayloadUpdate }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": { "id": "", "name": "GHL - Metroplex" }
      }
    },
    {
      "id": "create_contact",
      "name": "Create Contact (POST) – Estimate Scoped",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-460, 340],
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Version", "value": "2021-07-28" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Build Contact Payload (Estimate Scoped, Filter Nulls)').item.json.contactPayloadCreate }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": { "id": "", "name": "GHL - Metroplex" }
      }
    },
    {
      "id": "normalize_contact_result",
      "name": "Normalize Contact Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-220, 220],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "contactId", "type": "string", "value": "={{ $json.contact.id }}" }
          ]
        },
        "options": { "include": "all" }
      }
    },
    {
      "id": "search_opportunities",
      "name": "Search Opportunities For Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [20, 220],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "notes": "VERIFY before activating: query param casing for /opportunities/search is unconfirmed in this session (legacy GHL endpoints sometimes use snake_case instead of the camelCase used elsewhere in v2). Check the real GHL docs / a test call and adjust location_id/pipeline_id/contact_id below if they don't match.",
      "parameters": {
        "method": "GET",
        "url": "https://services.leadconnectorhq.com/opportunities/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "location_id", "value": "={{ $('Build Contact Payload (Estimate Scoped, Filter Nulls)').item.json.locationId }}" },
            { "name": "pipeline_id", "value": "={{ $('Build Contact Payload (Estimate Scoped, Filter Nulls)').item.json.pipelineId }}" },
            { "name": "contact_id", "value": "={{ $json.contactId }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Version", "value": "2021-07-28" }] },
        "options": {
          "response": { "response": { "neverError": true } }
        }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "", "name": "GHL - Metroplex" }
      }
    },
    {
      "id": "check_existing_opportunity",
      "name": "Check Existing Opportunity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 220],
      "notes": "Dedup + stage-guard logic: if an opportunity already exists for this contact, never create a duplicate. Only re-affirm the stage if it's still sitting at Visualizer/Estimate Submitted (stage 1) — if sales has already moved it forward (Contacted, Appointment Set, etc.), leave it alone so an estimate-tool resubmission can't knock it backward.",
      "parameters": {
        "jsCode": "const search = $(\"Search Opportunities For Contact\").first().json;\nconst cfg = $(\"Config – GHL IDs\").first().json;\nconst built = $(\"Build Contact Payload (Estimate Scoped, Filter Nulls)\").first().json;\nconst normalized = $(\"Normalize Contact Result\").first().json;\n\nconst opportunities = Array.isArray(search.opportunities) ? search.opportunities : [];\nconst existing = opportunities[0] || null;\n\nlet opportunityAction = 'create';\nlet opportunityId = null;\n\nif (existing && existing.id) {\n  opportunityId = existing.id;\n  opportunityAction = (existing.pipelineStageId === cfg.stageId) ? 'updateStage' : 'noop';\n}\n\nreturn [{\n  json: {\n    contactId: normalized.contactId,\n    firstName: built.firstName,\n    lastName: built.lastName,\n    phone: built.phone,\n    source: built.source,\n    locationId: built.locationId,\n    pipelineId: built.pipelineId,\n    stageId: built.stageId,\n    opportunityAction,\n    opportunityId,\n  },\n}];"
      }
    },
    {
      "id": "switch_opportunity_action",
      "name": "Switch – Opportunity Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [500, 220],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "create",
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
                "combinator": "and",
                "conditions": [
                  { "id": "r1", "leftValue": "={{ $json.opportunityAction }}", "rightValue": "create", "operator": { "type": "string", "operation": "equals" } }
                ]
              }
            },
            {
              "outputKey": "updateStage",
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
                "combinator": "and",
                "conditions": [
                  { "id": "r2", "leftValue": "={{ $json.opportunityAction }}", "rightValue": "updateStage", "operator": { "type": "string", "operation": "equals" } }
                ]
              }
            },
            {
              "outputKey": "noop",
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
                "combinator": "and",
                "conditions": [
                  { "id": "r3", "leftValue": "={{ $json.opportunityAction }}", "rightValue": "noop", "operator": { "type": "string", "operation": "equals" } }
                ]
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "create_opportunity",
      "name": "Create Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 60],
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Version", "value": "2021-07-28" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"pipelineId\": $json.pipelineId, \"locationId\": $json.locationId, \"pipelineStageId\": $json.stageId, \"name\": ($json.firstName + ' ' + $json.lastName + ' - Estimate Lead').trim(), \"status\": \"open\", \"contactId\": $json.contactId, \"source\": \"estimate\" } }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": { "id": "", "name": "GHL - Metroplex" }
      }
    },
    {
      "id": "update_opportunity_stage",
      "name": "Update Opportunity Stage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 220],
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $json.opportunityId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Version", "value": "2021-07-28" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"pipelineStageId\": $json.stageId } }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": { "id": "", "name": "GHL - Metroplex" }
      }
    },
    {
      "id": "execute_sms_alert",
      "name": "Execute Workflow – New Lead Alert SMS",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1000, 220],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "notes": "Workflow 5 not built yet — continueOnFail keeps estimate-tool lead intake working regardless. Set the real workflowId once Workflow 5 exists. Pulls contactId/firstName/phone/source from Check Existing Opportunity, not $json, since $json varies depending on which branch (create/updateStage/noop) executed.",
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WITH_WORKFLOW_5_ID",
          "mode": "list",
          "cachedResultName": "New Lead Alert SMS (Workflow 5)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "contactId": "={{ $('Check Existing Opportunity').item.json.contactId }}",
            "firstName": "={{ $('Check Existing Opportunity').item.json.firstName }}",
            "phone": "={{ $('Check Existing Opportunity').item.json.phone }}",
            "source": "={{ $('Check Existing Opportunity').item.json.source }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "respond_200",
      "name": "Respond – 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1240, 220],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"contactId\": $('Check Existing Opportunity').item.json.contactId } }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Webhook – Lead Intake (Estimate)": {
      "main": [[{ "node": "Config – GHL IDs", "type": "main", "index": 0 }]]
    },
    "Config – GHL IDs": {
      "main": [[{ "node": "IF – Required Fields Present?", "type": "main", "index": 0 }]]
    },
    "IF – Required Fields Present?": {
      "main": [
        [{ "node": "Build Contact Payload (Estimate Scoped, Filter Nulls)", "type": "main", "index": 0 }],
        [{ "node": "Respond – 400 Missing Fields", "type": "main", "index": 0 }]
      ]
    },
    "Build Contact Payload (Estimate Scoped, Filter Nulls)": {
      "main": [[{ "node": "Search Contact By Email", "type": "main", "index": 0 }]]
    },
    "Search Contact By Email": {
      "main": [[{ "node": "IF – Contact Exists?", "type": "main", "index": 0 }]]
    },
    "IF – Contact Exists?": {
      "main": [
        [{ "node": "Update Contact (PATCH) – Estimate Scoped", "type": "main", "index": 0 }],
        [{ "node": "Create Contact (POST) – Estimate Scoped", "type": "main", "index": 0 }]
      ]
    },
    "Update Contact (PATCH) – Estimate Scoped": {
      "main": [[{ "node": "Normalize Contact Result", "type": "main", "index": 0 }]]
    },
    "Create Contact (POST) – Estimate Scoped": {
      "main": [[{ "node": "Normalize Contact Result", "type": "main", "index": 0 }]]
    },
    "Normalize Contact Result": {
      "main": [[{ "node": "Search Opportunities For Contact", "type": "main", "index": 0 }]]
    },
    "Search Opportunities For Contact": {
      "main": [[{ "node": "Check Existing Opportunity", "type": "main", "index": 0 }]]
    },
    "Check Existing Opportunity": {
      "main": [[{ "node": "Switch – Opportunity Action", "type": "main", "index": 0 }]]
    },
    "Switch – Opportunity Action": {
      "main": [
        [{ "node": "Create Opportunity", "type": "main", "index": 0 }],
        [{ "node": "Update Opportunity Stage", "type": "main", "index": 0 }],
        [{ "node": "Execute Workflow – New Lead Alert SMS", "type": "main", "index": 0 }]
      ]
    },
    "Create Opportunity": {
      "main": [[{ "node": "Execute Workflow – New Lead Alert SMS", "type": "main", "index": 0 }]]
    },
    "Update Opportunity Stage": {
      "main": [[{ "node": "Execute Workflow – New Lead Alert SMS", "type": "main", "index": 0 }]]
    },
    "Execute Workflow – New Lead Alert SMS": {
      "main": [[{ "node": "Respond – 200 OK", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
